.mobileMenu {
  list-style-type: none;
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--header-background);
  top: 0;
}

.mobileHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileHeader {
  margin: 0;
}
