.feedModalStatus {
  color: #00cccc;
}
.feedModalIngredientItem {
  display: flex;
  justify-content: space-between;
}
.feedModalImage {
  width: 60px;
  background: #131316;
  border-radius: 100px;
  border: 2px solid #4c4cff;
}
.feedModalIngredientNameBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedOrderItemsWrapper {
  max-height: 250px;
  overflow: auto;
}