.header {
  z-index: 10;
  background: var(--header-background);
}

.headerDesktop {
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.headerBlock {
  display: flex;
  justify-content: center;
}

.headerItem {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerMobile {
  display: none;
}

.headerMobileItem {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headerBlock {
    display: none;
  }
  .headerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
